<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../layout/head.ejs")%>
</head>
<body>
  <header>
    <%- include("../../layout/header.ejs")%>
  </header>
  <section>
    <p>Search Results</p>
  </section>
  <main>
    <%- include("detail.ejs")%>
  </main>
  <footer>
      <input type="radio"><input type="radio"><input type="radio"><input type="radio">
  </footer>
</body>
</html>