<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Best Books</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
  <header>
    <p>Best Books!<p>
    <nav>
    </nav>
  </header>
  <section>
    <p>Search Results</p>
  </section>
  <main>
    <% include pages/books/detail %>
  </main>
  <footer>
      <input type="radio"><input type="radio"><input type="radio"><input type="radio">
  </footer>
</body>
</html>