<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../../layout/head.ejs")%>
</head>
<body>
  <header>
    <%- include("../../layout/header.ejs")%>
  </header>
  <section>
    <div id="nav-buttons" style="display: none;">
      <button class="nav-button" onclick="window.location.href = '/'">HOME</button>
      <button class="nav-button" onclick="window.location.href = '/search'">NEW SEARCH</button>  
    </div>
    <p>Search Results</p>
  </section>
  <main>
    <%- include("../books/selectBook.ejs")%>
  </main>
  <footer>
    <%- include("../../layout/footer.ejs")%>
  </footer>
</body>
</html>