<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>ERROR</h1>
            <P>PAGE NOT FOUND</P>
        </main>
    </body>
</html>