<!DOCTYPE html>
<html>
    <head>
        <%- include("../layout/head.ejs")%>
    </head>
    <body>
        <header>
            <%- include("../layout/header.ejs")%>
            <section>
                <div id="nav-buttons" style="display: none;">
                    <button class="nav-button" onclick="window.location.href = '/'">HOME</button>
                    <button class="nav-button" onclick="window.location.href = '/search'">NEW SEARCH</button>  
                </div>
            <h1>ERROR</h1>
            </section>
        </header>
        <main>
            <P>PAGE NOT FOUND</P>
        </main>
    </body>
    <footer>
        <%- include("../layout/footer.ejs")%>
    </footer>
</html>