<!DOCTYPE html>
<html>
    <head>
        <%- include("layout/head.ejs")%>
    </head>
    <body>
        <header>
            <%- include("../layout/header.ejs")%>
        </header>
        <main>
            <h1>ERROR</h1>
            <P>PAGE NOT FOUND</P>
        </main>
    </body>
</html>