<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="public/styles/base.css">
</head>
<body>
  <h1>Open a Book Open your mind</h1>
  <form action="/searches" method="post">
    <input type="text" name="search" value="title">

    <fieldset>
      <label for="title">
        <span>title;</span>
        <input type="radio" name="search" value="title">
      </label>
    </fieldset>

    <fieldset>
        <label for="author">
          <span>Author:</span>
          <input type="radio" name="search" value="author">
        </label>
    </fieldset>  

<button type="submit">Open a new book</button>    
  </form>
</body>
</html>