<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../layout/head.ejs")%>
</head>
<body>
  <header>
    <%- include("../layout/header.ejs")%>
  </header>
  <section>
    <p>Search by Title or Author</p>
  </section>
  <main>
    <div>Total Books: <%= bookInst.length %></div>
      <%- include('books/detail.ejs')%>
  </main>
  <footer>
      <input type="radio"><input type="radio"><input type="radio"><input type="radio">
  </footer>
</body>
</html>