<p>Best Books!<p>
<nav>
    <div id="menu"><img src="http://placeholder.it/30x30">
        <a href="pages/index">return to your library</a>
        <a href="page/show">search a new book</a>
      </div>
    </nav>